<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blog.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <title>{{ title }}</title>
	<script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
  </head>
<body>
    {% include 'nav.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
</body>
</html>